<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <title>Document</title>
</head>
<body>

<form class="form-horizontal" method="POST" action="/update_form/update/{{room.pk}}/" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>RentIt</legend>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="phone_number">Phone Number</label>
  <div class="col-md-4">
    {% csrf_token %}
    <input id="phone_number" name="phone_number" placeholder="Phone Number" class="form-control input-md" required="" type="tel" value="{{room.phone_number}}">

  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="location">Location</label>
  <div class="col-md-4">
    <input id="location" name="location" placeholder="Location" class="form-control input-md" required="" type="text" value="{{room.location}}">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="desc">Description</label>
  <div class="col-md-4">
    <input id="desc" name="desc" placeholder="Description" class="form-control input-md" required="" type="text" value="{{room.desc}}">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">Price</label>
  <div class="col-md-4">
  <input id="price" name="price" placeholder="Price" class="form-control input-md" required="" type="number" value="{{room.price}}">
    <br>
 <!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Upload Picture</label>
  <div class="col-md-4">
    <input id="filebutton" name="image" class="input-file" type="file" value="{{room.image.url}}">
  </div>
</div>


        <!-- Button -->
        <div class="form-group">
        <div class="col-md-4">

            <input type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary" value="Upload File">
        </div>
        </div>

</fieldset>
</form>
</body>
</html>